

@model IEnumerable<HospitalManagementSystem.Models.CareerDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>


<div style=" margin-top: 30px;">
    <a style="border: 1px solid black; margin: 15px; padding: 15px; text-decoration: none; text-align: center; background-color: #47d147; color: black; " href="/Career/New">Add New Career</a>
</div>

@foreach (var career in Model)
{

    <h2><a href="/Career/Details/@career.CareerId">@career.JobName</a></h2>
    <div>@career.JobId</div>
    <div>@career.JobDescription</div>
    <div>Department Name: @career.DepartmentName</div>
    <div>Location Name: @career.LocationName</div>

}